<% layout('layout/boilerplate') %> 
   <div class="row">
    <h1 class="text-center">New Entry</h1>
    <div class="col-6 offset-3">
        <form action="/blogs" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="blog[title]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Entry</label>
                <textarea class="form-control" type="text" id="description" name="blog[description]" cols="50" rows="10"></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Add Pictures!</label>
                <input class="form-control form-control-sm" id="image" type="file" name="image" multiple>
              </div>
           
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image url</label>
                <input class="form-control" type="text" id="image" name="blog[image]">
            </div>  -->
            <div class="mb-3">
                <button class="btn btn-success">Add Blog</button>
            </div>
       
        </form>
    </div>
   </div>
